<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Controle de Frota{% endblock %}</title>

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/principal.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
</head>

<body>

  

  <!-- MENU -->
  <div class="sidebar">
    <img src="{{ url_for('static', filename='img/logo.jpeg') }}" style="width:150px;">
    
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
    <a href="{{ url_for('caminhoes') }}">Caminhões</a>
    <a href="{{ url_for('relatorio') }}">Relatórios</a>
    <a href="/itens" class="btn-nav">Gerenciar Itens</a>
    <a href="{{ url_for('logout') }}" class="btn-logout" style="color: #ff4d4d; font-weight: bold; margin-left: 20px;">
        <i class="fas fa-sign-out-alt"></i> Sair
    </a>
  </div>

  <!-- CONTEÚDO -->
  <div class="conteudo">
    {% block content %}{% endblock %}
  </div>

  <script src="{{ url_for('static', filename='js/testecadastro.js') }}"></script>
</body>
</html>